<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpiresac.awore.persistence.TambienteaccesorioMapper" >
  <resultMap id="BaseResultMap" type="com.alpiresac.awore.domain.Tambienteaccesorio" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="idAmbi" property="idAmbi" jdbcType="INTEGER" />
    <result column="idAcce" property="idAcce" jdbcType="INTEGER" />
    <result column="fechRegi" property="fechRegi" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, idAmbi, idAcce, fechRegi
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tambienteaccesorio
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tambienteaccesorio
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alpiresac.awore.domain.Tambienteaccesorio" >
    insert into tambienteaccesorio (id, idAmbi, idAcce, 
      fechRegi)
    values (#{id,jdbcType=INTEGER}, #{idAmbi,jdbcType=INTEGER}, #{idAcce,jdbcType=INTEGER}, 
      #{fechRegi,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.alpiresac.awore.domain.Tambienteaccesorio" >
    insert into tambienteaccesorio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idAmbi != null" >
        idAmbi,
      </if>
      <if test="idAcce != null" >
        idAcce,
      </if>
      <if test="fechRegi != null" >
        fechRegi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idAmbi != null" >
        #{idAmbi,jdbcType=INTEGER},
      </if>
      <if test="idAcce != null" >
        #{idAcce,jdbcType=INTEGER},
      </if>
      <if test="fechRegi != null" >
        #{fechRegi,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alpiresac.awore.domain.Tambienteaccesorio" >
    update tambienteaccesorio
    <set >
      <if test="idAmbi != null" >
        idAmbi = #{idAmbi,jdbcType=INTEGER},
      </if>
      <if test="idAcce != null" >
        idAcce = #{idAcce,jdbcType=INTEGER},
      </if>
      <if test="fechRegi != null" >
        fechRegi = #{fechRegi,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alpiresac.awore.domain.Tambienteaccesorio" >
    update tambienteaccesorio
    set idAmbi = #{idAmbi,jdbcType=INTEGER},
      idAcce = #{idAcce,jdbcType=INTEGER},
      fechRegi = #{fechRegi,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>