<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpiresac.awore.persistence.TlocalparametriaMapper" >
  <resultMap id="BaseResultMap" type="com.alpiresac.awore.domain.Tlocalparametria" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="idLocal" property="idLocal" jdbcType="INTEGER" />
    <result column="horaAtenInic" property="horaAtenInic" jdbcType="INTEGER" />
    <result column="horaAtenFin" property="horaAtenFin" jdbcType="INTEGER" />
    <result column="diasDispLocal" property="diasDispLocal" jdbcType="VARCHAR" />
    <result column="fracHora" property="fracHora" jdbcType="VARCHAR" />
    <result column="limiDiasMaxiRese" property="limiDiasMaxiRese" jdbcType="INTEGER" />
    <result column="limiHoraMaxiModiRese" property="limiHoraMaxiModiRese" jdbcType="INTEGER" />
    <result column="estado" property="estado" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, idLocal, horaAtenInic, horaAtenFin, diasDispLocal, fracHora, limiDiasMaxiRese, 
    limiHoraMaxiModiRese, estado
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tlocalparametria
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tlocalparametria
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alpiresac.awore.domain.Tlocalparametria" >
    insert into tlocalparametria (id, idLocal, horaAtenInic, 
      horaAtenFin, diasDispLocal, fracHora, 
      limiDiasMaxiRese, limiHoraMaxiModiRese, 
      estado)
    values (#{id,jdbcType=INTEGER}, #{idLocal,jdbcType=INTEGER}, #{horaAtenInic,jdbcType=INTEGER}, 
      #{horaAtenFin,jdbcType=INTEGER}, #{diasDispLocal,jdbcType=VARCHAR}, #{fracHora,jdbcType=VARCHAR}, 
      #{limiDiasMaxiRese,jdbcType=INTEGER}, #{limiHoraMaxiModiRese,jdbcType=INTEGER}, 
      #{estado,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alpiresac.awore.domain.Tlocalparametria" >
    insert into tlocalparametria
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idLocal != null" >
        idLocal,
      </if>
      <if test="horaAtenInic != null" >
        horaAtenInic,
      </if>
      <if test="horaAtenFin != null" >
        horaAtenFin,
      </if>
      <if test="diasDispLocal != null" >
        diasDispLocal,
      </if>
      <if test="fracHora != null" >
        fracHora,
      </if>
      <if test="limiDiasMaxiRese != null" >
        limiDiasMaxiRese,
      </if>
      <if test="limiHoraMaxiModiRese != null" >
        limiHoraMaxiModiRese,
      </if>
      <if test="estado != null" >
        estado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idLocal != null" >
        #{idLocal,jdbcType=INTEGER},
      </if>
      <if test="horaAtenInic != null" >
        #{horaAtenInic,jdbcType=INTEGER},
      </if>
      <if test="horaAtenFin != null" >
        #{horaAtenFin,jdbcType=INTEGER},
      </if>
      <if test="diasDispLocal != null" >
        #{diasDispLocal,jdbcType=VARCHAR},
      </if>
      <if test="fracHora != null" >
        #{fracHora,jdbcType=VARCHAR},
      </if>
      <if test="limiDiasMaxiRese != null" >
        #{limiDiasMaxiRese,jdbcType=INTEGER},
      </if>
      <if test="limiHoraMaxiModiRese != null" >
        #{limiHoraMaxiModiRese,jdbcType=INTEGER},
      </if>
      <if test="estado != null" >
        #{estado,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alpiresac.awore.domain.Tlocalparametria" >
    update tlocalparametria
    <set >
      <if test="idLocal != null" >
        idLocal = #{idLocal,jdbcType=INTEGER},
      </if>
      <if test="horaAtenInic != null" >
        horaAtenInic = #{horaAtenInic,jdbcType=INTEGER},
      </if>
      <if test="horaAtenFin != null" >
        horaAtenFin = #{horaAtenFin,jdbcType=INTEGER},
      </if>
      <if test="diasDispLocal != null" >
        diasDispLocal = #{diasDispLocal,jdbcType=VARCHAR},
      </if>
      <if test="fracHora != null" >
        fracHora = #{fracHora,jdbcType=VARCHAR},
      </if>
      <if test="limiDiasMaxiRese != null" >
        limiDiasMaxiRese = #{limiDiasMaxiRese,jdbcType=INTEGER},
      </if>
      <if test="limiHoraMaxiModiRese != null" >
        limiHoraMaxiModiRese = #{limiHoraMaxiModiRese,jdbcType=INTEGER},
      </if>
      <if test="estado != null" >
        estado = #{estado,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alpiresac.awore.domain.Tlocalparametria" >
    update tlocalparametria
    set idLocal = #{idLocal,jdbcType=INTEGER},
      horaAtenInic = #{horaAtenInic,jdbcType=INTEGER},
      horaAtenFin = #{horaAtenFin,jdbcType=INTEGER},
      diasDispLocal = #{diasDispLocal,jdbcType=VARCHAR},
      fracHora = #{fracHora,jdbcType=VARCHAR},
      limiDiasMaxiRese = #{limiDiasMaxiRese,jdbcType=INTEGER},
      limiHoraMaxiModiRese = #{limiHoraMaxiModiRese,jdbcType=INTEGER},
      estado = #{estado,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>