<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpiresac.awore.persistence.TreservaMapper" >
  <resultMap id="BaseResultMap" type="com.alpiresac.awore.domain.Treserva" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="idAplic" property="idAplic" jdbcType="INTEGER" />
    <result column="fechIniRese" property="fechIniRese" jdbcType="DATE" />
    <result column="fechFinRese" property="fechFinRese" jdbcType="DATE" />
    <result column="nombRese" property="nombRese" jdbcType="VARCHAR" />
    <result column="idUsuaRegi" property="idUsuaRegi" jdbcType="INTEGER" />
    <result column="mailUsuaRegi" property="mailUsuaRegi" jdbcType="VARCHAR" />
    <result column="idUsuaApro" property="idUsuaApro" jdbcType="INTEGER" />
    <result column="fechRegi" property="fechRegi" jdbcType="DATE" />
    <result column="fechApro" property="fechApro" jdbcType="DATE" />
    <result column="idCuenta" property="idCuenta" jdbcType="INTEGER" />
    <result column="mntoAdelRese" property="mntoAdelRese" jdbcType="DECIMAL" />
    <result column="mntoTotalRese" property="mntoTotalRese" jdbcType="DECIMAL" />
    <result column="nroOperAbono" property="nroOperAbono" jdbcType="DECIMAL" />
    <result column="cmntRese" property="cmntRese" jdbcType="VARCHAR" />
    <result column="estaRese" property="estaRese" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, idAplic, fechIniRese, fechFinRese, nombRese, idUsuaRegi, mailUsuaRegi, idUsuaApro, 
    fechRegi, fechApro, idCuenta, mntoAdelRese, mntoTotalRese, nroOperAbono, cmntRese, 
    estaRese
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from treserva
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from treserva
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alpiresac.awore.domain.Treserva" >
    insert into treserva (id, idAplic, fechIniRese, 
      fechFinRese, nombRese, idUsuaRegi, 
      mailUsuaRegi, idUsuaApro, fechRegi, 
      fechApro, idCuenta, mntoAdelRese, 
      mntoTotalRese, nroOperAbono, cmntRese, 
      estaRese)
    values (#{id,jdbcType=INTEGER}, #{idAplic,jdbcType=INTEGER}, #{fechIniRese,jdbcType=DATE}, 
      #{fechFinRese,jdbcType=DATE}, #{nombRese,jdbcType=VARCHAR}, #{idUsuaRegi,jdbcType=INTEGER}, 
      #{mailUsuaRegi,jdbcType=VARCHAR}, #{idUsuaApro,jdbcType=INTEGER}, #{fechRegi,jdbcType=DATE}, 
      #{fechApro,jdbcType=DATE}, #{idCuenta,jdbcType=INTEGER}, #{mntoAdelRese,jdbcType=DECIMAL}, 
      #{mntoTotalRese,jdbcType=DECIMAL}, #{nroOperAbono,jdbcType=DECIMAL}, #{cmntRese,jdbcType=VARCHAR}, 
      #{estaRese,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alpiresac.awore.domain.Treserva" >
    insert into treserva
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idAplic != null" >
        idAplic,
      </if>
      <if test="fechIniRese != null" >
        fechIniRese,
      </if>
      <if test="fechFinRese != null" >
        fechFinRese,
      </if>
      <if test="nombRese != null" >
        nombRese,
      </if>
      <if test="idUsuaRegi != null" >
        idUsuaRegi,
      </if>
      <if test="mailUsuaRegi != null" >
        mailUsuaRegi,
      </if>
      <if test="idUsuaApro != null" >
        idUsuaApro,
      </if>
      <if test="fechRegi != null" >
        fechRegi,
      </if>
      <if test="fechApro != null" >
        fechApro,
      </if>
      <if test="idCuenta != null" >
        idCuenta,
      </if>
      <if test="mntoAdelRese != null" >
        mntoAdelRese,
      </if>
      <if test="mntoTotalRese != null" >
        mntoTotalRese,
      </if>
      <if test="nroOperAbono != null" >
        nroOperAbono,
      </if>
      <if test="cmntRese != null" >
        cmntRese,
      </if>
      <if test="estaRese != null" >
        estaRese,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idAplic != null" >
        #{idAplic,jdbcType=INTEGER},
      </if>
      <if test="fechIniRese != null" >
        #{fechIniRese,jdbcType=DATE},
      </if>
      <if test="fechFinRese != null" >
        #{fechFinRese,jdbcType=DATE},
      </if>
      <if test="nombRese != null" >
        #{nombRese,jdbcType=VARCHAR},
      </if>
      <if test="idUsuaRegi != null" >
        #{idUsuaRegi,jdbcType=INTEGER},
      </if>
      <if test="mailUsuaRegi != null" >
        #{mailUsuaRegi,jdbcType=VARCHAR},
      </if>
      <if test="idUsuaApro != null" >
        #{idUsuaApro,jdbcType=INTEGER},
      </if>
      <if test="fechRegi != null" >
        #{fechRegi,jdbcType=DATE},
      </if>
      <if test="fechApro != null" >
        #{fechApro,jdbcType=DATE},
      </if>
      <if test="idCuenta != null" >
        #{idCuenta,jdbcType=INTEGER},
      </if>
      <if test="mntoAdelRese != null" >
        #{mntoAdelRese,jdbcType=DECIMAL},
      </if>
      <if test="mntoTotalRese != null" >
        #{mntoTotalRese,jdbcType=DECIMAL},
      </if>
      <if test="nroOperAbono != null" >
        #{nroOperAbono,jdbcType=DECIMAL},
      </if>
      <if test="cmntRese != null" >
        #{cmntRese,jdbcType=VARCHAR},
      </if>
      <if test="estaRese != null" >
        #{estaRese,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alpiresac.awore.domain.Treserva" >
    update treserva
    <set >
      <if test="idAplic != null" >
        idAplic = #{idAplic,jdbcType=INTEGER},
      </if>
      <if test="fechIniRese != null" >
        fechIniRese = #{fechIniRese,jdbcType=DATE},
      </if>
      <if test="fechFinRese != null" >
        fechFinRese = #{fechFinRese,jdbcType=DATE},
      </if>
      <if test="nombRese != null" >
        nombRese = #{nombRese,jdbcType=VARCHAR},
      </if>
      <if test="idUsuaRegi != null" >
        idUsuaRegi = #{idUsuaRegi,jdbcType=INTEGER},
      </if>
      <if test="mailUsuaRegi != null" >
        mailUsuaRegi = #{mailUsuaRegi,jdbcType=VARCHAR},
      </if>
      <if test="idUsuaApro != null" >
        idUsuaApro = #{idUsuaApro,jdbcType=INTEGER},
      </if>
      <if test="fechRegi != null" >
        fechRegi = #{fechRegi,jdbcType=DATE},
      </if>
      <if test="fechApro != null" >
        fechApro = #{fechApro,jdbcType=DATE},
      </if>
      <if test="idCuenta != null" >
        idCuenta = #{idCuenta,jdbcType=INTEGER},
      </if>
      <if test="mntoAdelRese != null" >
        mntoAdelRese = #{mntoAdelRese,jdbcType=DECIMAL},
      </if>
      <if test="mntoTotalRese != null" >
        mntoTotalRese = #{mntoTotalRese,jdbcType=DECIMAL},
      </if>
      <if test="nroOperAbono != null" >
        nroOperAbono = #{nroOperAbono,jdbcType=DECIMAL},
      </if>
      <if test="cmntRese != null" >
        cmntRese = #{cmntRese,jdbcType=VARCHAR},
      </if>
      <if test="estaRese != null" >
        estaRese = #{estaRese,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alpiresac.awore.domain.Treserva" >
    update treserva
    set idAplic = #{idAplic,jdbcType=INTEGER},
      fechIniRese = #{fechIniRese,jdbcType=DATE},
      fechFinRese = #{fechFinRese,jdbcType=DATE},
      nombRese = #{nombRese,jdbcType=VARCHAR},
      idUsuaRegi = #{idUsuaRegi,jdbcType=INTEGER},
      mailUsuaRegi = #{mailUsuaRegi,jdbcType=VARCHAR},
      idUsuaApro = #{idUsuaApro,jdbcType=INTEGER},
      fechRegi = #{fechRegi,jdbcType=DATE},
      fechApro = #{fechApro,jdbcType=DATE},
      idCuenta = #{idCuenta,jdbcType=INTEGER},
      mntoAdelRese = #{mntoAdelRese,jdbcType=DECIMAL},
      mntoTotalRese = #{mntoTotalRese,jdbcType=DECIMAL},
      nroOperAbono = #{nroOperAbono,jdbcType=DECIMAL},
      cmntRese = #{cmntRese,jdbcType=VARCHAR},
      estaRese = #{estaRese,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>